{% extends "base.html" %}
{% block content %}
  <div class="py-0">
    <div class="container">
      <div class="row">
        <article class="col-12" itemscope itemtype="https://schema.org/BlogPosting">
          <div class="list-group list-spacer">
            <div class="list-group-item border-0 text-center">
              <header>
                <div class="w-100 justify-content-center">
                  <h1 class="mb-1" itemprop="headline">
                    <strong>{{ article.title }}</strong>
                  </h1>
                  <hr class="bg-secondary">
                  <p class="mb-1 text-muted">
                    <span class="date-published">
                      <i class="fas fa-newspaper px-2"></i>
                      <strong>Published:</strong>
                      <time itemprop="datePublished" datetime="{{ article.date }}">
                        {{ article.date|strftime('%B %d, %Y') }}
                      </time>
                    </span>
                    {% if article.modified %}
                    <span class="last-updated">
                      <i class="far fa-calendar-alt px-2"></i>
                      <strong>Last Updated:</strong>
                      <time itemprop="dateModified" datetime="{{ article.modified }}">
                        {{ article.modified|strftime('%B %d, %Y') }}
                      </time>
                    </span>
                    {% endif %}
                    <i class="fas fa-user-circle px-2"></i>
                    <strong>Author:</strong>
                    <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                      <span itemprop="name">Saad Ali</span>
                    </span>
                  </p>
                </div>
              </header>
            </div>
          </div>
          <div itemprop="articleBody">
            {{ article.content }}
          </div>
          <div class="likely my-4">
            <div class="facebook">Share</div>
            <div class="twitter" data-via="SaadKnight">Tweet</div>
            <div class="linkedin">Share</div>
          </div>
          <hr class="bg-secondary">
          <p class="text-muted">
            Tagged as:
            {% for tag in article.tags %}
              <span class="badge bg-dark">
                <a href="/tags/{{ tag.slug }}/" rel="tag" class="text-decoration-none text-white">{{ tag.name }}</a>
              </span>
              {% if not loop.last %}&nbsp;{% endif %}
            {% endfor %}
          </p>
          <hr class="bg-secondary">
          {% include 'disqus.html' %}
        </article>
      </div>
    </div>
  </div>
{% endblock %}
