{% extends "base.html" %}
{% block content %}
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {% for article in articles_page.object_list %}
          <div class="list-group list-spacer">
            <article class="list-group-item border-0 text-center">
              <header>
                <div class="w-100 justify-content-center">
                  <h3 class="mb-1"><strong><a href="/{{ article.url }}">{{ article.title }}</a></strong></h3>
                </div>
                <p class="mb-1 lead">{{ article.description|striptags }}</p>
                <p class="mb-1 text-muted">
                  <span class="date-published">
                    <i class="fas fa-newspaper px-2"></i><strong>Published:</strong> {{ article.date|strftime('%B %d, %Y') }}
                  </span>
                  {% if article.modified %}
                  <span class="last-updated">
                    <i class="far fa-calendar-alt px-2"></i><strong>Last Updated:</strong><time class="entry-modified-time" itemprop="dateModified" datetime="{{ article.modified }}"> {{ article.modified|strftime('%B %d, %Y') }}</time>
                  </span>
                  {% endif %}
                  <i class="fas fa-user-circle px-2"></i><strong>Author:</strong><span class="author"> Saad Ali</span>
              </p>
              </header>
            </article>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}